<div>
  <h2>我的英雄</h2>
  <ul class="heroes">
    <li
      *ngFor="let hero of heroes">
      <a [routerLink]="['/detail/' + hero.id]" routerLinkActive="router-link-active" >
        <span class="badge">{{hero.id}}</span><span>{{hero.name}}</span>
      </a>
      <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
    </li>
  </ul>
</div>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    添加英雄
  </button>
</div>


